<h1><%= @recipe.name %></h1>

<div>
  <%= @recipe.preparation_time %>h
</div>
<div>
  is it public? <%= @recipe.public %>
</div>
<div>
<%= @recipe.cooking_time %>h
</div>
<%= @recipe.description %>

<% if current_user.id == @recipe.user_id %>
  <div>
    <%= link_to 'Add Food', new_user_recipe_list_path(@recipe.user_id, @recipe.id) %>
  </div>
<% end %>

<div>
  <%= link_to 'Generate shopping list',  user_recipe_shops_path(current_user.id, @recipe.id) %>
</div>


 <br />
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value $</th>
      <th>ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_food.each do |rec| %>
      <tr>
        <td><%= rec.food.name %></td>
        <td><%= rec.quantity %></td>
        <td><%= rec.food.price %></td>
        <td><%= rec.id %></td>
        <td><%= button_to 'Delete', user_recipe_list_path(@recipe.user_id, @recipe.id, rec.id), method: :delete %></td>
      </tr>
    <% end %>  
  </tbody>
</table>
