<h1><%= @recipe.name %></h1>

<div>
  <%= @recipe.preparation_time %>h
</div>
<div>
  is it public? <%= @recipe.public %>
</div>
<div>
<%= @recipe.cooking_time %>h
</div>
<%= @recipe.description %>

<div>
  <%= link_to 'Add Food', new_user_recipe_list_path(@recipe.user_id, @recipe.id) %>
</div>

 <br />
<% @recipe_food.each do |rec| %>
  <div>Quantity: <%= rec.quantity %></div>
  <div>Name: <%= rec.food.name %></div>
  <div>Price: <%= rec.food.price %></div>
  <div>Delete</div>
  <br />
<% end %>
